{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img style="width :100%" src="{% static 'hijab/img/Walpaper.jpg' %}" alt="">
    <h1>Click here to see our store catalog </h1>


    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/blouse">blouse</a></li>
        <li><a href="/dress">dress</a></li>
        <li><a href="/hijab">hijab</a></li>
    </ul>

    <h3> > hijab pashmina teraccotta</h3>
    <img style="width :30%" src="{% static 'hijab/img/hijabteracotta.jpg' %}" alt="">
    <h3> > hijab pashmina blue</h3>
    <img style="width :30%" src="{% static 'hijab/img/hijabblue.jpg' %}" alt="">
    <h3> > hijab pashmina matcha</h3>
    <img style="width :30%" src="{% static 'hijab/img/hijabmatcha.jpg' %}" alt="">
    
    
</body>
</html>